<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to "My Organizations", organizations_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
  </ul>
  <%= simple_form_for :search, url: :jobs_filters, method: :get, html: { class: "navbar-form navbar-left", id: "search_jobs" } do |f| %>
    <div class="form-group">
      <div class="input-group">
        <%= f.input_field :text, class: "form-control", id: "navbar-search-input", placeholder: "Search jobs" %>
        <span class="input-group-btn">
          <%= button_tag type: "submit", class: "btn btn-default", id: "send_search" do %>
            <%= fa_icon "search" %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
