<section class="content-header">
  <h1 class="content-title">
    My Subscriptions
  </h1>
</section>
<section class="content">
  <% @subscriptions.each do |subscription| %>
    <div class="box box-primary subscription">
      <div class="box-header with-border">
        <div class="box-title">
          <%= content_tag :h3, subscription.job.title %>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Organization</th>
              <th><%= subscription.job.organization.name %></th>
            </tr>
            <tr>
              <th>Places</th>
              <th>
                <%= content_tag :p, subscription.job.places, class: 'lead' %>
              </th>
            </tr>
            <tr>
              <th>Description</th>
              <th>
                <%= content_tag :p, subscription.job.description, class: 'lead' %>
              </th>
            </tr>
            <tr>
              <th>Start Date</th>
              <th>
                <%= content_tag :p, subscription.job.start_date, class: 'lead' %>
              </th>
            </tr>
            <tr>
              <th>End Date</th>
              <th>
                <%= content_tag :p, subscription.job.end_date, class: 'lead' %>
              </th>
            </tr>
            <tr>
              <th>Status</th>
              <th>
                <% if subscription.status.pending? %>
                  <div class="callout callout-warning text-center">
                    <%= content_tag :p, subscription.status_text, class: 'lead' %>
                  </div>
                <% elsif subscription.status.denied? %>
                  <div class="callout callout bg-orange text-center">
                    <%= content_tag :p, subscription.status_text, class: 'lead' %>
                  </div>
                <% elsif subscription.status.accepted? %>
                  <div class="callout callout-success text-center">
                    <%= content_tag :p, subscription.status_text, class: 'lead' %>
                  </div>
                <% elsif subscription.status.canceled? %>
                  <div class="callout callout bg-purple text-center">
                    <%= content_tag :p, subscription.status_text, class: 'lead' %>
                  </div>
                <% elsif subscription.status.closed? %>
                  <div class="callout callout callout-info text-center">
                    <%= content_tag :p, subscription.status_text, class: 'lead' %>
                  </div>
                <% end %>
              </th>
            </tr>
            <tr>
              <td></td>
              <td>
                <% if subscription.status.pending? || subscription.status.accepted? %>
                  <%= link_to 'Abandon Job', abandon_user_subscription_path(subscription), method: :put, class: 'btn btn-warning' %>
                <% elsif subscription.status.closed? %>
                  <%= link_to 'Organization Review', edit_organization_review_path(subscription.review), class: "btn btn-md btn-flat btn-success" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</section>
