<section class="content-header">
  <h1>
    Organization Jobs
    <%= link_to "New Job", new_organization_job_path(@organization), class: "btn btn-success btn-flat" %>
  </h1>
</section>

<section class="content">
  <% @jobs.each do |job| %>
    <%= render layout: "jobs/job", locals: { job: job } do %>
      <%= link_to "Show", [job.organization, job], class: "btn btn-default btn-xs btn-flat" %>
      <%= link_to "Edit", edit_organization_job_path(job.organization, job), class: "btn btn-primary btn-xs btn-flat" %>
      <%= link_to "Delete", [job.organization, job], data: { method: :delete }, class: "btn btn-danger btn-xs btn-flat" %>
    <% end %>
  <% end %>
</section>
