<section class="content-header">
  <h1>
    <h1>Subscriptions</h1>
  </h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <div class="box-title">
        <h3>
          Pendings
        </h3>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      <% @pending.each do |sub| %>
        <tbody>
          <tr>
            <th><%= sub.user.email %></th>
            <th><%= sub.status %></th>
            <th><%= link_to "Accept", "/subscriptions/accept/#{sub.id}/#{sub.user_id}", class: "btn btn-default btn-flat" %></th>
            <th><%= link_to  "Decline", "/subscriptions/decline/#{sub.id}/#{sub.user_id}", class: "btn btn-default btn-flat" %></th>
            <th><%= link_to  "Destroy", "/subscriptions/destroy/#{sub.id}/#{sub.user_id}", class: "btn btn-default btn-flat" %></th>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>

  <div class="box box-primary">


    <div class="box-footer">
      <div class="btn-group">
        <%= link_to "Job",  organization_job_path(params[:organization_id], params[:job_id]), class: "btn btn-default btn-flat" %>
      </div>
    </div>
  </div>
</section>
