<%= simple_form_for @organization,
  wrapper: :horizontal_form,
  html: { class: 'form-horizontal' },
  defaults: {
    input_html: { class: 'form-control' },
    wrapper_html: { class: 'form-group' },
    label_html: { class: 'control-label col-sm-2' }
  } do |f| %>

  <div class="box-body">
    <%= f.input :name %>
    <%= f.input :cnpj %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :service_kind, collection: Organization.service_kinds.keys %>
    <%= f.input :about, as: :text %>

    <%= f.simple_fields_for :address do |address_f| %>
      <%= address_f.input :country, as: :string %>
      <%= address_f.input :zipcode %>
      <%= address_f.input :state %>
      <%= address_f.input :city %>
      <%= address_f.input :neighborhood %>
      <%= address_f.input :street %>
      <%= address_f.input :number %>
      <%= address_f.input :complement %>
    <% end %>

    <div class="text-center">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
