<section class="content">
  <div class="box box-primary organization-info">
    <div class="box-header with-border">
      <div class="box-title">
        <h3 class="organization-info -name-title">
          <%= "Organização #{@organization.name.upcase}" %>
        </h3>
      </div>
    </div>

    <div class="box-body">
      <p class='organization-info -about'>
        <%= @organization.about %>
      </p>

      <div class="container">
        <div class="col-xs-12">
          <%= "CNPJ: #{@organization.cnpj}" %>
        </div>

        <div class="col-xs-12">
          <%= "Service Type: #{@organization.service_kind}" if @organization.service_kind.present? %>
        </div>

        <div class="col-xs-12">
          <%= "Phone: #{@organization.phone}" %>
        </div>

        <div class="col-xs-12">
          <%= "Email: #{@organization.email}" %>
        </div>

        <% if @organization.address.present? %>
          <div class="organization-info -address">
            <p class="header">Address</p>

            <div class="col-xs-12">
              <div class="-street">
                <%= "#{@organization.address.street}, #{@organization.address.number}" %>
                <%= ", compl.#{@organization.address.complement}" if @organization.address.complement.present? %>
              </div>

              <div class="-region">
                <%= "#{@organization.address.city}/#{@organization.address.state} - Bairro: #{@organization.address.neighborhood}" %>
              </div>

              <div class="-zipcode">
                <%= "#{@organization.address.country}" %>
                <%= "- CEP: #{@organization.address.zipcode}" if @organization.address.zipcode.present? %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="box-footer">
      <div class="btn-group">
        <%= link_to "Edit", edit_organization_path(@organization), class: "btn btn-primary btn-flat" %>
        <%= link_to 'Jobs', organization_jobs_path(@organization), class: 'btn btn-warning btn-flat' %>
        <%= link_to "List All", organizations_path, class: "btn btn-default btn-flat" %>
      </div>
    </div>
  </div>
</section>
