<!DOCTYPE html>
<html>
  <head>
    <title>Hack2save</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">

      <%= render "layouts/nav/header" %>

      <div class="content-wrapper">
        <div class="container">
          <%= render "layouts/flash/flash_messages" %>
          <%= yield %>
        </div>
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="container">
          <%= link_to href: 'http://onebitcode.com/hack2save/' do %>
            <%= image_tag 'https://i0.wp.com/onebitcode.com/wp-content/uploads/2017/05/h2s-blog.png?resize=640%2C107', alt: 'Hack2Save'%>
          <% end %>
          <div class="pull-right hidden-xs">
            <strong>Hack2Save Team8</strong>
          </div>

        </div>
        <!-- /.container -->
      </footer>
    </div>
    <!-- ./wrapper -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
