<!DOCTYPE html>
<html>
  <head>
    <title>Hack2save</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">

      <%= render "layouts/nav/header" %>

      <div class="content-wrapper">
        <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>
        </div>
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            Hack2Save
          </div>
          <strong>Hack2Save</strong>
        </div>
        <!-- /.container -->
      </footer>
    </div>
    <!-- ./wrapper -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
